<div class="overflow-hidden content-margin container-fluid" style="width: 50%;">

    <form class="form-horizontal" [formGroup]="formGroup">

        <dynamic-ng-bootstrap-form-control *ngFor="let formModelCtrl of formModel"
                                   [group]="formGroup"
                                   [layout]="formLayout"
                                   [model]="formModelCtrl"
                                   (blur)="onBlur($event)"
                                   (change)="onChange($event)"
                                   (focus)="onFocus($event)"
                                   (ngbEvent)="onNgbEvent($event)"></dynamic-ng-bootstrap-form-control>

    </form>

    <button (click)="test()" type="button">Test</button>

    <!-- <pre>{{formGroup.value | json}}</pre> -->

</div>